Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Dance==7.0.1
OAuthlib==3.2.2
scikit-learn==1.5.1
pandas==2.2.2
Flask-Mail==0.9.1
Flask-Login==0.5.0
Flask-WTF==1.0.0
WTForms==3.0.0
Flask-Principal==0.4.0
Flask-HTTPAuth==4.0.0
Flask-RESTful==0.3.9
Flask-Admin==1.5.7
Flask-Login==0.5.0
Flask-Principal==0.4.0
Flask-HTTPAuth==4.0.0
Flask-RESTful==0.3.9

